@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}
body{
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root{
  display: flex;
  flex-direction: column;
}
header{
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.movie{
  background-color: #373b69;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 300px;
}
.movie img{
  object-fit: cover;
  height: 450px;
   width: 100%;
}
.movie-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie-info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.movie-info h3{
  margin: 0;
}
.movie-over{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #22254b;
  padding: 1rem;
  overflow: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movie-over{
  transform: translateY(0%);
}
.search{
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  outline: none;
  font-family: inherit;
}
.tag{
  background-color: #22254b;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}
.tag.green{
  color: rgb(11, 195, 11);
}
.tag.orange{
  color: orange;
}
.tag.red{
  color: red;
}